@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300");
@font-face {
  font-family: ChunkFive;
  src: url(../fonts/ChunkFive/Chunkfive.otf); }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

/*Headings*/
.work .work-heading h1, .aboutme-container h1 {
  font-size: 4em;
  color: #d8d4f2;
  margin-bottom: 0; }

.aboutme-container h2 {
  color: #d8d4f2;
  margin-top: 0px; }

/* Header And Nav */
header nav {
  width: 100%;
  background: #2d2d2a;
  position: fixed;
  z-index: 2; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center; }
    header nav ul li:first-child #logo-heading {
      font-family: ChunkFive, sans-serif;
      color: #c2c1c2;
      letter-spacing: 5px;
      pointer-events: none;
      margin: 0; }
    header nav ul li:first-child {
      pointer-events: none;
      display: none;
      transition: all 400ms; }
    header nav ul li {
      flex: auto;
      text-align: center; }
      header nav ul li:hover {
        background: #c2c1c2;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
      header nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        font-size: 30px;
        color: #d8d4f2; }
        header nav ul li a:hover {
          color: #2d2d2a; }

/* Intro section */
.intro {
  width: 100%;
  height: 80vh;
  background-color: #20fc8f;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4em 10px 0px #0d100e; }
  .intro::before, .intro::after {
    content: "";
    position: absolute;
    top: 94%;
    height: 0;
    width: 0;
    border: 40px solid #20fc8f;
    border-radius: 100%;
    box-shadow: 0px 4.5px 0px 0px #0d100e; }
  .intro h1.intro-head {
    font-family: ChunkFive, sans-serif;
    font-size: 6vw;
    letter-spacing: 25px;
    color: #d8d4f2;
    text-shadow: 5px 4px 5px #251d1d;
    white-space: nowrap;
    text-transform: uppercase;
    margin: 0; }
  .intro h2.intro-subhead {
    font-family: "calluna-sans", Helvetica, Helvetica Neue, Arial, sans-serif;
    color: #38423b;
    font-size: 3vw;
    text-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.05);
    border-top: 2px solid #38423b;
    border-bottom: 2px solid #38423b; }

/* Work section */
.work {
  width: 100%;
  background-color: #38423b;
  display: flex;
  flex-direction: column; }
  .work .work-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; }
    .work .work-heading .work-logo {
      width: 300px; }
  .work .work-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .work .work-section .item {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
      margin: 10px;
      background-color: #c2c1c2;
      border-radius: 10px;
      display: none;
      width: 30%; }
      .work .work-section .item .item-img {
        width: 25vw;
        border-radius: 10px; }
      .work .work-section .item .item-name {
        margin-bottom: 0;
        color: #2d2d2a;
        font-size: 30px; }
      .work .work-section .item .item-tech {
        margin: 0;
        color: #38423b;
        font-size: 20px; }
  .work .btn-load {
    width: 50%;
    align-self: center;
    margin: 20px;
    padding: 20px 32px;
    font-size: 25px;
    font-weight: bold;
    background-color: #2d2d2a;
    border: 0;
    color: #d8d4f2;
    outline: none; }

/* About me */
.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #2d2d2a; }
  .aboutme-container .me-logo {
    width: 25vw;
    border-radius: 50%; }

.active {
  animation: blink 1s ease-out;
  display: flex !important; }

/* Animation */
@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo-appearance {
  animation: slide-down 0.5s ease-out;
  -webkit-animation: slide-down 0.5s ease-out;
  -moz-animation: slide-down 0.5s ease-out; }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
